*.xlsx
*.xlsx#
*.xls
*.xls#

*.ipynb

*.pdf

#myenv/
makeups/*
not_supported/*
not_supported_formats/*
pdfs_testing/*
undetected/*
z_success/*
zource/*
solo/*

appending_xl.py
gagan_anna_img_2_excel.ipynb
img_2_excel_testing_version.ipynb

maybe_final_1.py
maybe_final.py

to_be.txt

unknown_pdfs/

.gitignore

output.xlsx


.~lock.output.xlsx#
