pip install -r requirements.txt

pipx install pytessearct
pipx install pandas
pipx install numpy
pipx install pillow
pipx install openpyxl



# for virtual environment

python3 -m venv myenv
source myenv/bin/activate

pip install pytesseract
pip install pandas
pip install numpy
pip install pillow
pip install openpyxl